.buttonHref{
  width: 100%;
  text-decoration: none;
}
.icon_bttn {
  margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:18px;
    padding: 7px 13px;
    
    height: 40px;
    width: max-content;
    background-color: var(--color-primary-dark);
    cursor: pointer;
    padding: 10px 15px;
    img{
      margin-left: 10px;
      width: 12px;
    }
    .icon_bttn_p {
      color: var(--color-white);
      font-size: 20px;
      // text-transform: capitalize;
      letter-spacing: 0.2px;
      
    }
  }
  .icon_bttn:hover {
    transform: translateY(-2px);
  }
  
  
  
  